@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("assets/fonts/SF-Pro.ttf") format("ttf");
}

body {
    font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    overscroll-behavior: none;
}

a,
button,
a:link,
a:visited,
a:hover,
a:active {
    cursor: default;
}

.overscroll-behavior-none {
    overscroll-behavior: none;
}
.scrollbar-none {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.scrollbar-none::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.field {
    @apply
        block w-full
        shadow-sm rounded-sm
        text-slate-900 bg-slate-50 border-slate-400
        dark:text-slate-50 dark:bg-slate-900 dark:bg-opacity-20 dark:border-slate-50 dark:border-opacity-20
        focus:ring-fuchsia-600 focus:border-fuchsia-600;
}
